In [1]:
class student:
    def info(self,name,age):
        print(name,age)
        
class ram(student):
    def details(self,marks):
        print(marks)
        
x = ram()
x.info('abc',23)
x.details(34)

abc 23
34

In [2]:
class A:
    def info(self,name,age):
        print(name, age)
class B(A):
    def details (self,height):
        print(height)
a1= B()
a1.info(1,2)
a1.details(27)

1 2
27

In [3]:
a1.info('ghghgf',78)

ghghgf 78

In [4]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age


class info(student):
    def __init__(self,name,age,marks):
        super().__init__(name,age)
        self.marks=marks

a=info("aman",17,67)
print(a.name,a.age,a.marks)

aman 17 67

In [5]:
b= info('xyz',34,100)
b.name

'xyz'

In [6]:
class student:
    def info(self,name,age):
        print("Name---->",name,"Age---->",age)
        
class ram(student):
    def details(self,marks):
        print("Marks---->",marks)
        
class car(ram):
    def info2(self,price):
        print("Price is ---->",price)
        
x = car()
x.info('abc',23)
x.details(34)
x.info2(23)

Name----> abc Age----> 23
Marks----> 34
Price is ----> 23

In [7]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class B(A):
    def __init__(self,name,age,height):
        super().__init__(name,age)
        self.height=height

class C(B):
    def __init__(self,name,age,height,marks):
        super().__init__(name,age,height)
        self.marks=marks
a2=C(1,2,4,5)
print(a2.name)
print(a2.age)
a2.height
a2.marks

1
2

5

In [8]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
class info(student):
        def __init__ (self,name,age,marks):
            super().__init__(name,age)
            self.marks=marks

class info2(info):
    def __init__(self,name,age,marks,price):
        super().__init__(name,age,marks)
        self.price = price



a=info2("aman",17,77,2300)
print(a.name,a.age,a.marks,a.price)

aman 17 77 2300